# Question 3. Import the orders_products_combined

In [1]:
# Import libarires
import pandas as pd
import numpy as np
import os

In [2]:
# Create path
path = r'C:\Users\SuperHome\Documents\Instacart Basket Analysis\02 Data'

In [3]:
df_ord_pro = pd.read_pickle(os.path.join(path,'Prepared Data','orders_products_combined.pkl'))

# Question 4. Check the shape of import dataframe

In [4]:
df_ord_pro.shape

(32434489, 10)

In [5]:
df_ord_pro.head()

,order_id,user_id,order_number,day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196,1,0,both
1,2539329,1,1,2,8,7.0,14084,2,0,both
2,2539329,1,1,2,8,7.0,12427,3,0,both
3,2539329,1,1,2,8,7.0,26088,4,0,both
4,2539329,1,1,2,8,7.0,26405,5,0,both

# Question 5. Combine dataframe 'products' and '               orders_products_combined'

In [6]:
# Import dataframe 'products'
df_pro = pd.read_csv(os.path.join(path,'Prepared Data','product_clean.csv'), index_col=False)

In [7]:
df_pro.shape

(49672, 6)

In [8]:
df_pro.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_prods = df_pro.drop(columns = ['Unnamed: 0'])

In [10]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [14]:
# Using merging function to combine those two dataframes
df_prods_large = df_ord_pro.merge(df_prods, on = ['product_id'], indicator='exists') 
      # As I have an error when I used 'indicator=True', as they will have the same name with '_merge'
       # so I chenged with the name of 'exists'

In [15]:
df_prods_large.head()

,order_id,user_id,order_number,day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,exists
0,2539329,1,1,2,8,7.0,196,1,0,both,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both

In [17]:
df_prods_large.shape

(32404859, 15)

# Question 6
Confirm the results of the merge using the merge flag

In [20]:
df_prods_large['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

# Question 7
Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [21]:
df_prods_large.to_pickle(os.path.join(path,'Prepared Data','orders_products_merged.pkl'))

In [22]:
df_prods_large.to_csv(os.path.join(path,'Prepared Data','orders_products_merged.csv'))

Pickle compares with CSV

Pickle only takes 30 seconds to export the merged file with size of 3.33 G

CSV cost 4 minutes to export the file with size of 2.77 G

Pickle saves time and CSV saves space.