In [1]:
# Import libarires
import pandas as pd
import numpy as np
import os

In [2]:
# Create path
path = r'C:\Users\SuperHome\Documents\Instacart Basket Analysis\02 Data'

In [3]:
# Import orders_products_final dataframe
ord_pro = pd.read_pickle(os.path.join(path,'Prepared Data','orders_products_final.pkl'))

Checking dataframe head

In [4]:
ord_pro.head()

,order_id,user_id,order_number,day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,exists
0,2539329,1,1,2,8,7.0,196,1,0,both,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both

# If-Statements with User-Defined Functions

In [18]:
# Create a subset to use user-define fuction
df = ord_pro[:1000000]

In [6]:
# Create a define 
def price_label(row):
    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High-range product'
    else:
        return 'Not enough data'

In [37]:
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\SuperHome\AppData\Local\Temp\ipykernel_5548\2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [38]:
df['price_range'].value_counts(dropna=False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [39]:
df.head()

,order_id,user_id,order_number,day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,exists,price_range,price_range_loc
0,2539329,1,1,2,8,7.0,196,1,0,both,Soda,77,7,9.0,both,Mid-range product,Mid-range product
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Mid-range product
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Mid-range product
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Mid-range product
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Mid-range product

# If-Statements with the loc() Function
Using subset dataframe

In [40]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [41]:
df.loc[(df['prices'] <= 15) & (df_sub['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [42]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [43]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

Using entire dataframe instead of subset

In [44]:
ord_pro.loc[ord_pro['prices'] <= 5,'price_range'] = 'Low-range product'

In [45]:
ord_pro.loc[(ord_pro['prices'] > 5) & (ord_pro['prices'] <= 15), 'price_range'] = 'Mid-range product'

In [46]:
ord_pro.loc[ord_pro['prices'] > 15, 'price_range'] = 'High-range product'

In [47]:
ord_pro['price_range'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      412551
Name: price_range, dtype: int64

# If-Statements with For-Loops

In [49]:
ord_pro['day_of_week'].value_counts(dropna=False)

0    6203329
1    5659298
6    4495887
2    4213105
5    4205076
3    3839865
4    3783172
Name: day_of_week, dtype: int64

In [53]:
result = []
for value in ord_pro['day_of_week']:
    if value == 0:
        result.append('Busiest day')
    elif value == 4:
        result.append('Least busy')
    else:
        result.append('regularly busy')

In [54]:
result

['regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'regularly busy',
 'Least busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'Least busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'Busiest day',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'Least busy',
 'Busiest day',
 'regularly busy',
 'Busiest day',
 'Busiest day',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'Least busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'Least busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'Least busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'Least busy',
 'regularly busy',
 'Busiest day',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'Least busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'Least busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Least busy',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 'Busiest day',
 'Busiest day',
 'regularly busy',
 'regularly busy',
 'regularly busy',
 ...]

In [55]:
ord_pro['busiest_day'] = result

In [56]:
ord_pro['busiest_day'].value_counts(dropna = False)

regularly busy    22413231
Busiest day        6203329
Least busy         3783172
Name: busiest_day, dtype: int64

In [57]:
ord_pro.head()

,order_id,user_id,order_number,day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,exists,price_lable,price_range,busiest_day
0,2539329,1,1,2,8,7.0,196,1,0,both,Soda,77,7,9.0,both,Mid-range product,Mid-range product,regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Mid-range product,regularly busy
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Mid-range product,regularly busy
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Mid-range product,Least busy
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Mid-range product,Least busy

# Questions and Answers

1.If you havent done so already, complete the instructions in the Exercise for creating 

the price_label and busiest_day columns.

Done

2.Suppose your clients have changed their minds about the labels you created in your 
busiest_day column. Now, they want Busiest day to become Busiest days (plural). 
This label should correspond with the two busiest days of the week as opposed to the single busiest day. 
At the same time, theyd also like to know the two slowest days. Create a new column for 
this using a suitable method.

In [72]:
# Answer
result = []
for value in ord_pro['day_of_week']:    
    if value == 0 or value == 1:
        result.append('two_busiest days')
    elif value == 3 or value == 4:
        result.append('two_slowest days')
    else:
        result.append('regularly busy')

In [73]:
ord_pro['Busiest_day'] = result

In [74]:
ord_pro['Busiest_day'].value_counts(dropna = False)

regularly busy      12914068
two_busiest days    11862627
two_slowest days     7623037
Name: Busiest_day, dtype: int64

In [79]:
ord_pro['Busiest_day'].value_counts(dropna = False, normalize=True)

regularly busy      0.398586
two_busiest days    0.366133
two_slowest days    0.235281
Name: Busiest_day, dtype: float64

3.Check the values of this new column for accuracy. Note any observations in markdown format.

Answer: We combined the two busiest days and the two slowest days that caused the value_counts() result is different 
from the previous one we created.

4.When too many users make Instacart orders at the same time, the app freezes. 
The senior technical officer at Instacart wants you to identify the busiest hours of the day. 
Rather than by hour, they want periods of time labeled Most orders, Average orders, and Fewest orders.
Create a new column containing these labels called busiest_period_of_day.

In [81]:
# Checking 'order_hour_of_day' value_counts
ord_pro['order_hour_of_day'].value_counts(dropna = False)

10    2761333
11    2735694
14    2688728
15    2661718
13    2660570
12    2618104
16    2534744
9     2453842
17    2087273
8     1717863
18    1636226
19    1258076
20     976000
7      890923
21     795528
22     634159
23     402272
6      290450
0      218742
1      115683
5       87944
2       69360
4       53232
3       51268
Name: order_hour_of_day, dtype: int64

Answer:

First, I will create 3 groups from 24 hours of the day, which will met the question that asks for 'Most orders'
,'Average orders' and 'Fewest orders'

Most orders group (10, 11, 14, 15, 13, 12, 16, 9)

Average orders group (17, 8, 18, 19, 20, 7, 21, 22)

Fewest orders group (23, 6, 0, 1, 5, 2, 4, 3)

Second, using for-lop function to create conditions

In [83]:
hour = []
for value in ord_pro['order_hour_of_day']:
    if value in  (10, 11, 14, 15, 13, 12, 16, 9):
        hour.append('Most orders')
    elif value in (17, 8, 18, 19, 20, 7, 21, 22):
        hour.append('Average orders')
    elif value in(23, 6, 0, 1, 5, 2, 4, 3):
        hour.append('Fewest orders')
    else:
        hour.append('No data')

In [84]:
ord_pro['busiest_period_of_day'] = hour

5.Print the frequency for this new column.

In [86]:
# Answer
ord_pro['busiest_period_of_day'].value_counts(dropna = False)

Most orders       21114733
Average orders     9996048
Fewest orders      1288951
Name: busiest_period_of_day, dtype: int64

Before Export, checking dataframe

In [87]:
ord_pro.head()

,order_id,user_id,order_number,day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,exists,price_lable,price_range,busiest_day,Busiest_day,busiest_period_of_day
0,2539329,1,1,2,8,7.0,196,1,0,both,Soda,77,7,9.0,both,Mid-range product,Mid-range product,regularly busy,regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Mid-range product,regularly busy,two_slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Mid-range product,regularly busy,two_slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Mid-range product,Least busy,two_slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Mid-range product,Least busy,two_slowest days,Most orders

I would like to delete columns 'exists' and 'price_lable' and 'busiest_day'

In [89]:
# Using drop()
ord_clean = ord_pro.drop(columns = ['exists','price_lable','busiest_day'])

In [90]:
ord_clean.head()

,order_id,user_id,order_number,day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range,Busiest_day,busiest_period_of_day
0,2539329,1,1,2,8,7.0,196,1,0,both,Soda,77,7,9.0,Mid-range product,regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,two_slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,two_slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,two_slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,two_slowest days,Most orders

Export dataframe as a pickle file

In [91]:
ord_clean.to_pickle(os.path.join(path,'Prepared Data','final_with_new_columns.pkl'))